@include notification-style('rc-notification')
@include notification-default-animation('rc-notification')

@include notification-style('ui-notification-top-left')
@include notification-zoom-animation('ui-notification-top-left', left);
@include notification-style('ui-notification-top-right')
@include notification-zoom-animation('ui-notification-top-right', right);
@include notification-style('ui-notification-bottom-left')
@include notification-zoom-animation('ui-notification-bottom-left', left);
@include notification-style('ui-notification-bottom-right')
@include notification-zoom-animation('ui-notification-bottom-right', rights);

.ui-notice {
  min-width: 12.5rem;
  padding: .5rem 1rem;
}

.ui-notice-header {
  font-size: $h3-font-size;
}

.ui-notice-icon {
  font-size: $h3-font-size;
  position: relative;
  margin-right: .5rem;
  display: inline-block;
  white-space: nowrap;
  text-align: center;
  vertical-align: middle;
  background-image: none;
  height: 100%;
}

.ui-notice-title {
  position: relative;
  display: inline-block;
  white-space: nowrap;
  text-align: center;
  vertical-align: middle;
  background-image: none;
  box-shadow: $btn-box-shadow;
}



.ui-notice-content {
  color: $secondary;
  margin-bottom: .5rem;
  margin-right: .5rem;
  &.ui-notice-margin-icon {
    margin-left: $h3-font-size + .5rem;
  }
}

.ui-notice-footer {
  text-align: right;
}