$row-width: 100%;
.ui-row {
  position: relative;
  padding: .5rem;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  min-width: $row-width;
  max-width: $row-width;
  &.ui-row-flex-wrap {
    flex-wrap: wrap;
  }
}

.ui-col {
  padding: .125rem;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  @for $i from 1 through 24 {
    &.ui-col-#{$i} {
      min-width: ($i / 24.0) * $row-width;
    }
  }
}
