@import "src/styles/variables";

.btn {
  position: relative;
  display: inline-block;
  font-weight: $btn-font-weight;
  line-height: $btn-line-height;
  color: $body-color;
  white-space: nowrap;
  text-align: center;
  vertical-align: middle;
  background-image: none;
  border: $btn-border-width solid transparent;
  @include button-size($btn-min-height, $btn-padding-y,  $btn-padding-x,  $btn-font-size,  $border-radius);
  box-shadow: $btn-box-shadow;
  cursor: pointer;
  transition: $btn-transition;
  &.btn-disabled,
  &[disabled] {
    cursor: not-allowed;
    opacity: $btn-disabled-opacity;
    box-shadow: none;
    > * {
      pointer-events: none;
    }
  }
  &.btn-danger {
    @include button-style($danger, $danger, $white);
    &.btn-dashed {
      @include btn-dashed($danger);
    }
  }

}

.btn-size-large {
  @include button-size($btn-min-height-lg, $btn-padding-y-lg, $btn-padding-x-lg, $btn-font-size-lg, $btn-border-radius-lg);
  @include btn-gp-style($btn-border-radius-lg);
  &.btn-circle {
    @include btn-circle($btn-min-height-lg)
  }
}
.btn-size-small {
  @include button-size($btn-min-height-sm, $btn-padding-y-sm, $btn-padding-x-sm, $btn-font-size-sm, $btn-border-radius-sm);
  @include btn-gp-style($btn-border-radius-sm);
  &.btn-circle {
    @include btn-circle($btn-min-height-sm)
  }
}
.btn-size-default {
  @include button-size($btn-min-height, $btn-padding-y, $btn-padding-x, $btn-font-size, $btn-border-radius);
  @include btn-gp-style($btn-border-radius);
  &.btn-circle {
    @include btn-circle($btn-min-height)
  }
}
.btn-default {
  @include button-style($white, $body-color, $body-color, $white, $primary, $primary);
  &.btn-dashed {
    @include btn-dashed($body-color);
  }
}

.btn-primary {
  @include button-style($primary, $primary, $white);
  &.btn-dashed {
    @include btn-dashed($primary);
  }
}

.btn-danger {
  @include button-style($danger, $danger, $white);
  &.btn-dashed {
    @include btn-dashed($danger);
  }
}

.btn-warn {
  @include button-style($warn, $warn, $white);
  &.btn-dashed {
    @include btn-dashed($warn);
  }
}

.btn-success {
  @include button-style($success, $success, $white);
  &.btn-dashed {
    @include btn-dashed($success);
  }
}

.btn-link {
  background: none;
  font-weight: $font-weight-normal;
  color: $btn-link-color;
  text-decoration: $link-decoration;
  box-shadow: none;
  &:hover {
    color: $btn-link-hover-color;
    text-decoration: $link-hover-decoration;
  }
  &:focus,
  &.focus {
    text-decoration: $link-hover-decoration;
    box-shadow: none;
  }
  &:disabled,
  &.btn-disabled {
    color: $btn-link-disabled-color;
    pointer-events: none;
  }
  &.btn-gp-last {

  }
  &.btn-gp-first {

  }
  &.btn-gp-mid {

  }
}