@import "src/styles/variables";

.ui-btn {
  position: relative;
  display: inline-block;
  font-weight: $btn-font-weight;
  line-height: $btn-line-height;
  color: $body-color;
  white-space: nowrap;
  text-align: center;
  vertical-align: middle;
  background-image: none;
  border: $btn-border-width solid transparent;
  @include button-size($btn-min-height, $btn-padding-y, $btn-padding-x, $btn-font-size, $border-radius);
  box-shadow: $btn-box-shadow;
  cursor: pointer;
  transition: $btn-transition;

  &.ui-btn-disabled,
  &[disabled] {
    cursor: not-allowed;
    opacity: $btn-disabled-opacity;
    box-shadow: none;

    > * {
      pointer-events: none;
    }
  }

  &.ui-btn-danger {
    @include button-style($danger, $danger, $white);

    &.ui-btn-dashed {
      @include btn-dashed($danger);
    }
  }

  &button {
    outline: none;
  }
}

.ui-btn-size-large {
  @include button-size($btn-min-height-lg, $btn-padding-y-lg, $btn-padding-x-lg, $btn-font-size-lg, $btn-border-radius-lg);
  &.ui-btn-circle {
    @include btn-circle($btn-min-height-lg)
  }

  .icon {
    font-size: $btn-font-size-lg;
  }
}

.ui-btn-size-small {
  @include button-size($btn-min-height-sm, $btn-padding-y-sm, $btn-padding-x-sm, $btn-font-size-sm, $btn-border-radius-sm);
  &.ui-btn-circle {
    @include btn-circle($btn-min-height-sm)
  }

  .icon {
    font-size: $btn-font-size-sm;
  }
}

.ui-btn-size-mini {
  @include button-size($btn-min-height-mini, $btn-padding-y-mini, $btn-padding-x-mini, $btn-font-size-mini, $btn-border-radius-mini);
  &.ui-btn-circle {
    @include btn-circle($btn-min-height-mini)
  }

  .icon {
    font-size: $btn-font-size-mini;
  }
}

.ui-btn-size-default {
  @include button-size($btn-min-height, $btn-padding-y, $btn-padding-x, $btn-font-size, $btn-border-radius);
  &.ui-btn-circle {
    @include btn-circle($btn-min-height)
  }

  .icon {
    font-size: $btn-font-size;
  }
}

.ui-btn-default {
  @include button-style($white, $body-color, $body-color, $white, $primary, $primary);

  &.ui-btn-dashed {
    @include btn-dashed($body-color);
  }
}

.ui-btn-primary {
  @include button-style($primary, $primary, $white);

  &.ui-btn-dashed {
    @include btn-dashed($primary);
  }
}

.ui-btn-danger {
  @include button-style($danger, $danger, $white);

  &.ui-btn-dashed {
    @include btn-dashed($danger);
  }
}

.ui-btn-warn {
  @include button-style($warn, $warn, $white);

  &.ui-btn-dashed {
    @include btn-dashed($warn);
  }
}

.ui-btn-success {
  @include button-style($success, $success, $white);

  &.ui-btn-dashed {
    @include btn-dashed($success);
  }
}

.ui-btn-link {
  background: none;
  font-weight: $font-weight-normal;
  color: $btn-link-color;
  text-decoration: $link-decoration;
  box-shadow: none;

  &:hover {
    color: $btn-link-hover-color;
    text-decoration: $link-hover-decoration;
  }

  &:focus,
  &.focus {
    text-decoration: $link-hover-decoration;
    box-shadow: none;
  }

  &:disabled,
  &.ui-btn-disabled {
    color: $btn-link-disabled-color;
    pointer-events: none;
  }
}

.ui-btn-gp {
  .ui-btn:not(.ui-btn-link) {
    &.ui-btn-size-default {
      @include btn-gp-style($btn-border-radius);
    }

    &.ui-btn-size-mini {
      @include btn-gp-style($btn-border-radius-mini);
    }

    &.ui-btn-size-small {
      @include btn-gp-style($btn-border-radius-sm);
    }

    &.ui-btn-size-large {
      @include btn-gp-style($btn-border-radius-lg);
    }
  }
}