.ui-tabs {
  display: flex;
  flex-wrap: nowrap;
  padding-left: 0;
  margin-bottom: .25rem;
  list-style: none;
  font-size: $font-size-base * 1.125;
  >.ui-tab {
    padding: $menu-item-padding-y $menu-item-padding-x;
    cursor: pointer;
    transition: $menu-transition;
    border-bottom: $menu-border-width solid $menu-border-color;
    &:hover, &:focus {
      text-decoration: none;
    }
    &.ui-tab-disabled {
      color: $menu-item-disabled-color;
      pointer-events: none;
      cursor: default;
    }
    &.ui-tab-active, &:hover {
      color: $menu-item-active-color;
    }
  }

}

.ui-tabs-line {
  border-bottom: $menu-border-width solid $menu-border-color;
  box-shadow: $menu-box-shadow;
  >.ui-tab {
    &.ui-tab-active, &:hover {
      border-bottom: $menu-item-active-border-width solid $menu-item-active-color;
    }
  }
}

.ui-tabs-card {
  >.ui-tab {
    border: none;
    border-bottom: $menu-border-width solid $border-color;
    &.ui-tab-active {
      border-top: $menu-border-width solid $border-color;
      border-left: $menu-border-width solid $border-color;
      border-right: $menu-border-width solid $border-color;
      border-bottom-color: transparent;
      border-radius: .5rem .5rem 0 0;
      &:hover {
        border-bottom-color: transparent;
      }
    }
    &.ui-tab-tail {
      margin-left: -$border-width;
      width: 100%;
      &:hover {
        cursor: default;
      }
    }
  }
}

.ui-tab-content {
  padding: .25rem .5rem;
  font-size: $font-size-base;
}