@mixin button-size($min-size, $padding-y, $padding-x, $font-size, $border-radius) {
  padding: $padding-y $padding-x;
  font-size: $font-size;
  border-radius: $border-radius;
  min-height: $min-size;
  min-width: $min-size;
  max-height: $min-size;
}

@mixin btn-circle($min-size) {
  border-radius: 50%
}

@mixin btn-gp-style($border-radius) {
  &.ui-btn-gp-last {
    border-left: none;
    border-radius: 0 $border-radius $border-radius 0;

    &.ui-btn-dashed {
      border-left: none;
    }
  }
  &.ui-btn-gp-first {
    border-right: none;
    border-radius: $border-radius 0 0 $border-radius;

    &.ui-btn-dashed {
      border-right: $btn-border-width dashed;
    }
  }
  &.ui-btn-gp-mid {
    border-left: none;
    border-right: none;
    border-radius: 0;

    &.ui-btn-dashed {
      border-right: $btn-border-width dashed;
    }
  }
}

@mixin btn-dashed($border-color, $hover-border: lighten($border-color, 10%)) {
  color: $border-color;
  background: none;
  border-color: $border-color;
  border-style: dashed;
  &:hover {
    color: $border-color;
    background: none;
    border-color: $hover-border;
  }
  &:focus,
  &.focus {
    color: $border-color;
    background: none;
    border-color: $hover-border;
  }
  &:disabled,
  &.ui-btn-disabled {
    color: $border-color;
    background: none;
    border-color: $border-color;
  }
}

@mixin button-style(
  $background,
  $border,
  $color,
  $hover-background: lighten($background, 7.5%),
  $hover-border: lighten($border, 10%),
  $hover-color: $color,
) {
  color: $color;
  background: $background;
  border-color: $border;
  &:hover {
    color: $hover-color;
    background: $hover-background;
    border-color: $hover-border;
  }
  &:focus,
  &.focus {
    color: $hover-color;
    background: $hover-background;
    border-color: $hover-border;
  }
  &:disabled,
  &.ui-btn-disabled {
    color: $color;
    background: $background;
    border-color: $border;
  }
}

@mixin zoom-animation(
  $direction: 'top',
  $scaleStart: scaleY(0),
  $scaleEnd: scaleY(1),
  $origin: center top
) {
  .zoom-in-#{$direction}-enter {
    opacity: 0;
    transform: $scaleStart;
  }
  .zoom-in-#{$direction}-enter-active {
    opacity: 1;
    transform: $scaleEnd;
    transition: transform 300ms cubic-bezier(.23, 1, .32, 1) 100ms, opacity 300ms cubic-bezier(.23, 1, .32, 1) 100ms;
    transform-origin: $origin;
  }
  .zoom-in-#{$direction}-exit {
    opacity: 1;
  }
  .zoom-in-#{$direction}-exit-active {
    opacity: 0;
    transform: $scaleStart;
    transition: transform 300ms cubic-bezier(.23, 1, .32, 1) 100ms, opacity 300ms cubic-bezier(.23, 1, .32, 1) 100ms;
    transform-origin: $origin;
  }
}

@mixin notification-style($prefix) {
  .#{$prefix} {
    position: fixed;
    z-index: 1000;
  }
  .#{$prefix}-notice {
    padding: 7px 20px 7px 10px;
    border-radius: 3px 3px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    background: #fff;
    display: block;
    width: auto;
    line-height: 1.5;
    position: relative;
    margin: 10px 0;
  }
  .#{$prefix}-notice-closable {
    padding-right: 20px;
  }
  .#{$prefix}-notice-close {
    position: absolute;
    right: 5px;
    top: 3px;
    color: #000;
    cursor: pointer;
    outline: none;
    font-size: 1rem;
    font-weight: 700;
    line-height: 1;
    text-shadow: 0 1px 0 #fff;
    filter: alpha(opacity=20);
    opacity: 0.2;
    text-decoration: none;
  }
  .#{$prefix}-notice-close-x:after {
    content: '×';
  }
  .#{$prefix}-notice-close:hover {
    opacity: 1;
    filter: alpha(opacity=100);
    text-decoration: none;
  }
}

@mixin notification-default-animation($prefix) {
  .#{$prefix}-fade-appear,
  .#{$prefix}-fade-enter {
    opacity: 0;
    animation-duration: 0.3s;
    animation-fill-mode: both;
    animation-timing-function: cubic-bezier(0.55, 0, 0.55, 0.2);
    animation-play-state: paused;
  }
  .#{$prefix}-fade-leave {
    animation-duration: 0.3s;
    animation-fill-mode: both;
    animation-timing-function: cubic-bezier(0.55, 0, 0.55, 0.2);
    animation-play-state: paused;
  }
  .#{$prefix}-fade-appear.#{$prefix}-fade-appear-active,
  .#{$prefix}-fade-enter.#{$prefix}-fade-enter-active {
    animation-name: animation-fade-in;
    animation-play-state: running;
  }
  .#{$prefix}-fade-leave.#{$prefix}-fade-leave-active {
    animation-name: animation-fade-out;
    animation-play-state: running;
  }
}

@mixin notification-zoom-animation(
  $prefix,
  $origin,
  $scaleStart: scaleX(0),
  $scaleEnd: scaleX(1),
  ) {
  .#{$prefix}-fade-appear,
  .#{$prefix}-fade-enter {
    opacity: 0;
    transform: $scaleStart;
  }
  .#{$prefix}-fade-appear-active,
  .#{$prefix}-fade-enter-active {
    opacity: 1;
    transform: $scaleEnd;
    transition: transform 300ms cubic-bezier(.23, 1, .32, 1) 100ms, opacity 300ms cubic-bezier(.23, 1, .32, 1) 100ms;
    transform-origin: $origin;
  }
  .#{$prefix}-fade-leave {
    opacity: 1;
  }
  .#{$prefix}-fade-leave-active {
    opacity: 0;
    transform: $scaleStart;
    transition: transform 300ms cubic-bezier(.23, 1, .32, 1) 100ms, opacity 300ms cubic-bezier(.23, 1, .32, 1) 100ms;
    transform-origin: $origin;
  }
}

@mixin space-margin($margin) {
  &.ui-space-horizontal {
    .ui-space-item {
      margin: 0 $margin;
    }
  }

  &.ui-space-vertical {
    .ui-space-item {
      margin: $margin 0;
    }
  }

  &.ui-space-around {
    .ui-space-item {
      margin: $margin;
    }
  }
}

@mixin card-style($padding-base, $body-font-size, $padding-title: $padding-base/1.5) {
  .ui-card-header {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    align-items: center;
    font-size: $body-font-size;
    padding: 0 $padding-base;
    font-family: $headings-font-family;
    font-style: $headings-font-style;
    font-weight: $headings-font-weight;
    line-height: $headings-line-height;
    color: $headings-color;
    .ui-card-title {
      padding: $padding-title 0;
      min-width: 50%;
    }
    .ui-card-extra {
      padding: $padding-title 0;
      text-align: right;
      font-size: $body-font-size *.875;
      min-width: 50%;
    }
  }
  .ui-card-body {
    font-size: $body-font-size;
    padding: $padding-base;
  }
  .ui-card-actions {
    font-size: $body-font-size;
    border-top: $border-width solid $border-color;
    padding: $padding-title - .125 0;
    color: $secondary;
  }
}

@mixin divider-margin($divider-margin) {
  &.ui-divider-horizontal {
    margin: $divider-margin 0;

    &.ui-divider-text {
      display: flex;
      margin: $divider-margin 0;
      font-size: 1rem;
      white-space: nowrap;
      text-align: center;
      border-top: none;
      &::before, &::after {
        position: relative;
        top: 50%;
        width: 50%;
        border-top-width: 1px;
        border-top-style: solid;
        border-top-color: $gray-3;
        border-bottom: 0;
        transform: translateY(50%);
        content: "";
      }
      .ui-divider-inner-text {
        padding: 0 1rem;
      }
      &.ui-divider-dashed {
        &::before, &::after {
          border-top-style: dashed;
        }
      }
      &.ui-divider-text-left {
        &::after {
          width: 95%;
        }
        &::before {
          width: 5%;
        }
      }
      &.ui-divider-text-right {
        &::after {
          width: 5%;
        }
        &::before {
          width: 95%;
        }
      }
    }
  }

  &.ui-divider-vertical {
    margin: 0 $divider-margin;
  }
}

@mixin input-size($input-height, $paddingY, $paddingX, $font-size, $border-radius) {
  height: $input-height;
  max-height: $input-height;
  border-radius: $border-radius;
  padding: $paddingY $paddingX;
  font-size: $font-size;

  .ui-input-prefix {
    margin-right: $paddingY;
  }

  .ui-input-number-picker {
    border-radius: 0 $border-radius $border-radius 0;
  }

  &.ui-input-textarea {
    max-height: 100%;
    height: auto;
    padding: $input-padding-y-sm 0 0 $input-padding-x-sm;
  }
}

@mixin steps-size($title-font-size, $sub-font-size) {
  .ui-step {
    vertical-align: top;
    .ui-step-content {
      margin-left: $title-font-size / 2;
      .ui-step-title {
        position: relative;
        font-size: $title-font-size;
        line-height: $title-font-size * 2;
        .ui-step-sub-title {
          margin-left: $title-font-size / 2;
        }

        &::after {
          top: $title-font-size;
        }
      }
      .ui-step-sub-title, .ui-step-description {
        font-size: $sub-font-size;
      }
    }

    .ui-step-content {
      display: inline-flex;
      flex-direction: column;
    }
  }

  .ui-step-icon {
    width: $title-font-size * 2;
    height: $title-font-size * 2;
    font-size: $title-font-size;
    line-height: $title-font-size * 2;
  }

  &.ui-steps-type-nav {
    .ui-step {
      position: relative;
      display: inline-flex;
      justify-content: center;
      overflow: visible;
      &:last-child {
        flex: 1;
      }
      &:not(:last-child) {
        &::after {
          font-family: "ui-icon", serif;
          content: "\e670";
          font-size: $title-font-size * 2;
          color: $gray-3;
          background-color: transparent;
          line-height: $title-font-size * 2;
          width: $title-font-size * 2;
          height: $title-font-size * 2;
          top: 0;
          left: 100%;
        }
      }
    }
  }

  &.ui-steps-type-dot {

    .ui-step {
      vertical-align: top;
      .ui-step-icon {
        position: absolute;
        top: $title-font-size / 2 + $title-font-size / 4;
        width: $title-font-size / 2;
        height: $title-font-size / 2;
        font-size: 0;
        background-color: $gray-5;
      }

      .ui-step-content {
        margin-left: $title-font-size;
      }

      &.ui-step-process, &.ui-step-finish {
        .ui-step-icon {
          background-color: $primary;
        }
      }

      &.ui-step-error {
        .ui-step-icon {
          background-color: $danger;
        }
      }

      &.ui-step-clickable:hover {
        .ui-step-icon {
          background-color: $primary;
        }
      }
    }
  }

  &.ui-steps-vertical {
    .ui-step-description {
      padding-bottom: $sub-font-size;
    }

    .ui-step-icon:not(:last-child)::after {
      top: $title-font-size * 2.25;
    }

    &.ui-steps-type-dot {
      .ui-step-icon:not(:last-child)::after {
        top: $title-font-size;
      }
    }

  }

  &.ui-steps-horizontal {
    .ui-step:not(:first-child) {
      padding-left: $title-font-size / 2;
    }
  }
}