.ui-select-wrapper {
  position: relative;
  display: inline-flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  border: $border-width solid $border-color;
  border-radius: .25rem;
  padding: .1rem .2rem;
  &:hover {
    cursor: pointer;
    border-color: $primary;
    .disabled {
      cursor: not-allowed;
      pointer-events: none;
      border-color: $border-color;
    }
  }
}

.ui-select-prefix {
  padding: 0 .25rem;
}

.ui-selected-item {
  background-color: $gray-1;
  padding: .1rem .2rem;
  border-radius: .25rem;
}

.ui-select {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
}

.ui-select-default {
  min-width: 8rem;
  min-height: 2rem;
  font-size: $font-size-base * .875;
  //line-height: $line-height-base;
  .ui-selected-item {
    line-height: $line-height-base * .875;
    .ui-icon-cross {
      margin-left: .25rem;
    }
    &:not(:first-child) {
      margin-left: .25rem;
    }
  }
}

.ui-select-small {
  min-width: 6rem;
  min-height: 1.75rem;
  font-size: $font-size-sm * .875;
  //line-height: $line-height-sm;
  .ui-selected-item {
    line-height: $line-height-sm * .875;
    .ui-icon-cross {
      margin-left: .125rem;
    }
    &:not(:first-child) {
      margin-left: .125rem;
    }
  }
}

.ui-select-large {
  min-width: 10rem;
  min-height: 2rem;
  font-size: $font-size-lg * .875;
  //line-height: $line-height-lg;
  .ui-selected-item {
    line-height: $line-height-lg * .875;
    .ui-icon-cross {
      margin-left: .25rem;
    }
    &:not(:first-child) {
      margin-left: .25rem;
    }
  }
}

.ui-select-dropdown {
  list-style: none;
  padding-left: 0;
  position: absolute;
  width: 100%;
  z-index: 1;
  top: calc(100% + .2rem);
  left: 0;
  overflow: auto;
  background-color: white;
  box-shadow: $submenu-box-shadow;;
  .ui-option {
    padding: .25rem .5rem;
    cursor: pointer;
    &:hover {
      background-color: lighten($primary, 40%);
    }

    &.active {
      background-color: lighten($primary, 35%);
      &::after {
        position: absolute;
        right: .25rem;
        font-family: "ui-icon", serif;
        content: "\e7fd";
        color: $primary;
      }
    }
  }
}
