.ui-upload {
  display: inline-block;
  cursor: pointer;

  input {
    display: none;
  }

  &.disabled {
    cursor: not-allowed;

    > * {
      cursor: not-allowed;
      pointer-events: none;
    }
  }

}

.ui-upload-list {
  list-style: none;
  padding-left: 0;
  margin-top: .5rem;

  &.disabled {
    cursor: not-allowed;
    background-color: $gray-1;

    > * {
      cursor: not-allowed;
      pointer-events: none;
    }
  }
}

.ui-upload-list-item {
  padding: .25rem;
  cursor: pointer;

  .ui-upload-list-item-close {
    &::before {
      opacity: 0;
      position: absolute;
      right: .25rem;
      transition: opacity .24s linear .1s;
    }
  }

  .ui-progress-line {
    padding-left: 1rem;
  }

  &:hover {
    background-color: $gray-2;

    .ui-upload-list-item-close {
      &::before {
        opacity: 1;
      }
    }
  }

  &.ui-upload-list-item-error {
    color: $danger;

    .ui-upload-list-item-close {
      &::before {
        opacity: 1;
      }
    }
  }
}

.ui-upload-list-item-title {
  position: relative;
  display: flex;
  flex-direction: row;
  font-size: $font-size-sm;
  line-height: $line-height-sm;

  .ui-upload-list-item-prefix {
    margin-right: .25rem;
  }
}

.ui-upload-drag {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  padding: 1rem 2rem;
  align-items: center;
  justify-content: center;
  border: 2 * $border-width dashed $border-color;
  background-color: $gray-1;
  border-radius: .25rem;

  &.active {
    border-color: $primary;
    background-color: lighten($primary, 40%);
    color: $primary;
  }

  .ui-upload-drag-icon {
    font-size: 3rem;
    color: $gray-5;
  }

  .ui-upload-drag-description {
    color: $gray-5;
  }
}