.ui-divider {
  position: relative;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: $gray-7;;
  font-size: 1rem;
  font-weight: $font-weight-bold;
  font-variant: tabular-nums;
  line-height: 1.5715;
  list-style: none;
  font-feature-settings: "tnum";
  border-top-color: $gray-3;;
  border-top-style: solid;
  border-top-width: 1px;
  &.ui-divider-dashed {
    border-top-style: dashed;
  }
  &.ui-divider-text-plan {
    font-weight: $font-weight-base;
  }
  @include divider-margin($divider-margin);
  &.ui-divider-horizontal {
    display: flex;
    clear: both;
    width: 100%;
    min-width: 100%;
  }

  &.ui-divider-vertical {
    display: inline-block;
    clear: both;
    height: 1rem;
    vertical-align: middle;
    min-height: 100%;
    border-top: none;
    border-left: 1px solid rgba(0,0,0,.06);
  }
}

.ui-divider-default {
  @include divider-margin($divider-margin);
}

.ui-divider-small {
  @include divider-margin($divider-margin-sm);
}

.ui-divider-large {
  @include divider-margin($divider-margin-lg);
}