.ui-result {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2rem 4rem;

    .ui-result-icon {
        font-size: 4rem;
    }

    .ui-result-title {
        color: $gray-7;
        font-size: $h3-font-size;
        font-weight: $font-weight-bold;
    }

    .ui-result-sub-title {
        color: $secondary
    }

    .ui-result-content {
        display: flex;
        width: 100%;
        padding: .5rem 1rem;
        margin-top: .5rem;
        background-color: $gray-1;
    }
}

@each $key, $val in $result-status {
    .ui-result-#{$key} {
        .ui-result-icon {
            color: $val        }
    }
}