.msg {
  display: inline-block;
  font-weight: $btn-font-weight;
  line-height: $btn-line-height;
  color: $body-color;
  white-space: nowrap;
  vertical-align: middle;
  background-image: none;
  font-size: $font-size-base;
  ox-sizing: border-box;
  margin: 0;
  padding: 0;
  font-variant: tabular-nums;
  list-style: none;
  position: fixed;
  top: 8px;
  left: 0;
  z-index: 1010;
  width: 100%;
  pointer-events: none;
}

.msg-content {
  box-shadow: 5px 5px 5px 1px rgba($black, .075), 0 0 5px 1px rgba($black, .075);
  padding: .5rem 1rem;
  border-radius: $btn-border-radius;
}